@import "tailwindcss";

@theme {
  --font-outfit: var(--font-outfit);
  --font-poppins: var(--font-poppins);
}

@theme {
  --font-crete: var(--font-crete), serif;
  --font-outfit: var(--font-outfit), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}